version: '3.8'
services:
  app:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}
    ports:
      - "8080:8080"
    volumes:
      - /home/env/.env.blog-backend-go.dev:/app/.env
